<body>
<font size=+3 color=DarkBlue><p><strong>内部测试中</strong></p></font>
<p>&nbsp;</p>
<p><strong>已收录词典：</strong></p>
<p><font size=+1><strong>梵语：</strong></font><br>
  • Monier-Williams梵英词典<br />
（M. Monier-Williams, <em>Sanskrit-English Dictionary</em>, 1899）</p>
<p>• 佛教混合梵语词典<br />
（Franklin Edgerton, <em>Buddhist Hybrid Sanskrit Dictionary</em>, 1953）</p>
<p><font size=+1><b>巴利语：</b></font><br>
  • 巴利圣典协会巴英词典<br />
（T.W. Rhys Davids &amp; W. Stede, <em>Pali-English Dictionary</em>, 1921-1925）</p>
<p>&nbsp;</p>
<p><font size=+2 color=DarkBlue><strong>新增功能：</strong></font></p>
<p><img src="http://www.mldc.cn/sanskritweb/pkudic/function.gif" width="1000" height="369" /></p>
</body>

